.App {
  text-align: center;
  font-family: "Shadows Into Light", Lato;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.myDiv{
	width: 100%;
    padding: 10px;
    background: #f99f53;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #f97200;
    color: #fff;
}
td,th{
  border: 1px solid black;
  text-align: center;
}
table{
  margin-left: 15px;
  margin-top: 15px;
  width: 300px;
  height: 100px;
}